<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizondam.userservice.mapper.AuthMapper">
  <!-- 로그인을 위한 사용자 조회 -->
  <select id="findByLoginId" parameterType="string" resultType="com.bizondam.userservice.entity.User">
    SELECT * FROM users WHERE login_id = #{loginId}
  </select>
  <select id="findByUserId" parameterType="long" resultType="com.bizondam.userservice.entity.User">
    SELECT * FROM users WHERE user_id = #{userId}
  </select>
</mapper>