<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizondam.userservice.mapper.CompanyMapper">
  <select id="findByCompanyId" parameterType="long" resultType="com.bizondam.userservice.entity.Company">
    SELECT company_id, company_name_kr
    FROM companies
    WHERE company_id = #{companyId}
  </select>
</mapper>