server:
  port: 8762

spring:
  config:
    activate:
      on-profile: peer2
  security:
    user:
      name: eureka
      password: eurekapwd

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:eurekapwd@14.63.178.155:8761/eureka/