<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizondam.publicdata_service.mapper.ProcurementContractMapper">

    <resultMap id="ContractResult" type="com.bizondam.publicdata_service.domain.ProcurementContract">
        <id     property="contractId"         column="contract_id"/>
        <result property="contractRequestNo" column="contract_request_no"/>
        <result property="contractName"      column="contract_name"/>
        <result property="contractMethod"    column="contract_method"/>
        <result property="contractDivision"  column="contract_division"/>
        <result property="procurementDivision" column="procurement_division"/>
        <result property="deliveryDivision"  column="delivery_division"/>
        <result property="contractDate"      column="contract_date"/>
        <result property="firstContractDate" column="first_contract_date"/>
        <result property="deliveryDeadline"  column="delivery_deadline"/>
        <result property="deliveryPlace"     column="delivery_place"/>
        <result property="institutionName"   column="institution_name"/>
        <result property="institutionType"   column="institution_type"/>
        <result property="regionName"        column="region_name"/>
        <result property="institutionCode"   column="institution_code"/>
        <result property="createdAt"         column="created_at"/>
    </resultMap>

    <select id="selectByRequestNo" parameterType="String" resultMap="ContractResult">
        SELECT *
        FROM procurement_contract
        WHERE contract_request_no = #{requestNo}
    </select>

    <select id="selectAll" resultMap="ContractResult">
        SELECT * FROM procurement_contract
    </select>

</mapper>