<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizondam.publicdata_service.mapper.ProductMetaMapper">

    <resultMap id="ProductMetaResult" type="com.bizondam.publicdata_service.domain.ProductMeta">
        <id     property="productId"           column="product_id"/>
        <result property="productName"         column="product_name"/>
        <result property="categoryCode"        column="category_code"/>
        <result property="categoryName"        column="category_name"/>
        <result property="detailCategoryCode"  column="detail_category_code"/>
        <result property="detailCategoryName"  column="detail_category_name"/>
        <result property="specification"       column="specification"/>
        <result property="createdAt"           column="created_at"/>
    </resultMap>

    <select id="selectById" parameterType="String" resultMap="ProductMetaResult">
        SELECT *
        FROM product_meta
        WHERE product_id = #{productId}
    </select>

    <select id="selectAll" resultMap="ProductMetaResult">
        SELECT * FROM product_meta
    </select>

</mapper>