server:
  port: 8888
  shutdown: graceful
  tomcat:
    basedir: ./tomcat

spring:
  application:
    name: config-server

  profiles:
    active: git

  cloud:
    config:
      server:
        git:
          uri: https://github.com/BizOnDam/Config.git
          default-label: main
          username: kohyun0223
          password: ${GIT_ACCESS_TOKEN}

# Jasypt 복호화 설정
jasypt:
  encryptor:
    password: ${ENCRYPTOR_PASSWORD}
    algorithm: PBEWITHHMACSHA512ANDAES_256
    iv-generator-class-name: org.jasypt.iv.RandomIvGenerator

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:eurekapwd@14.63.178.155:8761/eureka/,http://eureka:eurekapwd@14.63.178.155:8762/eureka/
  instance:
    prefer-ip-address: true #호스트 이름 대신 IP 주소를 우선으로 사용

management:
  endpoints:
    web:
      exposure:
        include: "*"